name: Publish to PyPI

on:
  release:
    types: [created]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    name: Build Distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
      
      - run: python -m pip install --upgrade pip setuptools wheel build
      
      - run: python -m build
      
      - uses: actions/upload-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
          retention-days: 1

  publish-to-pypi:
    name: Publish to PyPI
    if: github.event_name == 'release'
    needs: [build]
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/download-artifact@v4
        with:
          name: python-package-distributions
          path: dist/
      
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@v1.8.10
